@use './colors.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Cabin Variable', sans-serif;
  background-color: colors('bg');
  color: colors('white');
}
p,h1,h2,h3,h4,h5,h6 {
  overflow-wrap: break-word;
}


h1, h2, h3 {
  font-family: 'Roboto Condensed Variable', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  font-size: calc(36 / 16 * 1rem);
}

a {
  display: inline-block;
  text-decoration: none;
}

/* classes */

.wrap {
  margin: 0 auto;
  padding: 0 20x;
}

.btn {
  color: colors('white');
  border: 1px solid colors('white');
  padding: 6px 12px;
  border-radius: 4px;
  transition: 250ms;

  &:hover {
    background-color: colors('white');
    color: colors('black');
  }
}
